body {
    margin: 0;
    height: 100vh;
}
main {
    margin: 0;
}

/*Wrapper */
.wrapper {
    min-height: 100vh;
}

/* header */
header {
    justify-content: space-between;
    flex-wrap: wrap; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    order: 1;
    height: 60px;
    opacity: 0.95;
    background-color: #099d8d;
    margin: none;
    position: fixed;
    width: 100%;
    z-index: 999;
}
h1 {
    text-align: center;
    padding: 15px 80px 15px 80px;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: 1.88;
    color: #ffffff;
    font-family: 'Rubik';
    margin: 0;
    text-transform: uppercase;
}
.menu__list {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 8px 17px 7px 16px;
    list-style: none;
    justify-content: space-between;
    text-align: center;
    height: 45px;
    opacity: 0.9;
    background-color: #14d9c4;
    margin: 0;
}
.menu__link a {
    color: white;
    text-decoration: none;
}
.menu__link {
    display: block;    
    text-align: center;
    padding: 0;
    font-family: 'Rubik';
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    margin: 0;
}   

/* Hero */
.imagen {
    background-image: url(../images/hero_grupo2.jpg) ;
    height: 316px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;


    
   
    
    }
.claim {
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    width: 95%;
    height: 80px; 
    padding: 14px 15px 16px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: center;
    transform: translateY(45px);
}
#eq {
    position: absolute;
    top: 257px;
}

h2 {
    font-family: 'Rubik';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
}
.descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    /*margin-top: 15px;*/

}
.equipo {
    width: 89px;
    height: 45px;
    color: #14d9c4;
    padding-top: 45px;
    margin-bottom: 15px;
}
.parrafo {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #54585a;
    text-align: center;
    margin-top: 15px;
    padding: 0 15px;
    line-height: 1.5;
}
.triangulo {
    border: 40px solid transparent;
    width: 0;
    height: 0;
    border-top-color: white;
    border-width: 20px 20px;
}
.cualidades {
    background-color: rgba(184,184,185, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.for_deb {
    width: 290px;
    height: 45px;
    font-family: 'Rubik';
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.05;
    letter-spacing: normal;
    text-align: center;
    color: #099d8d;
    margin: 0;
    

}
.debilidades {
    margin-top: 20px;
}
.cualidades p {
    margin-top: 0;
}

/* Quienes somos */
.personas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-top: 15px;
 }
 .quienes {
     height: 45px;
     font-family: 'Rubik', sans-serif;
     font-size: 24px;
     font-weight: 500;
     line-height: 1.88;
     color: #099d8d;
     text-align: center;
     padding: 20px 0 20px 0;
    
 }
 .nosotras {
     list-style: none;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     padding: 0;
     justify-content: space-between;
 }
 .perfil img {
     width: 180px;
     height: 180px;
     border-radius: 4px;
     border: solid 5px rgba(0,0,0,0.08);
 }
 .nombre {
     display: flex;
     font-family: 'Open Sans', sans-serif;
     font-size: 20px;
     line-height: 2.25;
     letter-spacing: normal;
     text-align: center;
     color: var(--black);
     justify-content: center;
 }
 .redes {
 
     height: 30px;
     text-align: center;
     line-height: 1.88;
     list-style: none;
     display: flex;
     justify-content: center;
     margin: 0 98px 0 98px;
     padding: 0;
     color: #099d8d;
 }
 
 .linkedin::before {
     content: "·";
 }
 .git::before {
    content: "·";
}
.email::before {
    content: "·";
}

 .redes i {
    color: #099d8d;
    margin: 0 15px;
 }
 .comun { 
     padding-bottom: 50px; 
 }
 
/* Footer */
footer {
    width: 100%;
    border-top: 1px solid #b8b8b9;
    position: relative;
    bottom: 0;
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copyright {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'open sans';
    font-size: 14px;
    line-height: 1.43;
    color: #b8b8b9;
}
.menu_bottom {
    list-style: none;
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu_bottom a {
    text-decoration: none;
    text-align: center;
    font-family: 'open sans';
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    color: #54585a;
}
.logo_bottom {
    margin: 30px 0 45px;
    width: 115.9px;
    height: 45px;
}

@media all and (min-width:760px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .menu__list {
        display:flex;
        justify-content: space-between;
        background: #099d8d;
        width: 400px;
    }
    .claim {
        opacity: 0.8;
        width: 400px;
        height: 80px; 
        text-align: left;
        transform: translateY(0px);
        position: relative;
        left: -20%;
    }
    .equipo {
        margin-top: 0;
    }
    
    /*quienes somos*/
    .comun {
        margin: 0 44px;
        display: flex;
        
    }
    .info {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin:0;
        box-sizing: border-box;
    }
    .nombre {
        margin: 0;
        padding: 0 29px;
        height: 45px;
    }
    
    .redes{
        text-align: left;
        margin: 0;
        width: 124px;
        height: 30px;
        padding: 0 58px;
    }
    .info .parrafo {
        text-align: left;
        padding: 0 29px;
    }
  
     .perfil {
        width: 205px;
     }
     
     
    /*footer*/
    footer {
        height: 170px;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        box-sizing: border-box; 
    }
    .footer_menu {
        width: 324px;
        height: 90px;
        flex-grow: 1;
        margin: 24px 45px 56px 0;
        line-height: 30px;
        font-family: Opensans, semibold;
    }
    .menu_bottom  {
        align-items: flex-end;
        height: 90px;
        opacity: 0.75;
    }
    .logo_bottom {
      position: absolute;
      margin-top: 10px;
      top: 45px;
      left: 45px;
    }
   .copyright {
       width: 172px;
       height: 20px;
       margin-top: 30px;   
       margin-left: 45px;  
   }
}

@media all and (min-width:1200px) {
    footer {
        height: 161px;
    }
    .footer_menu {
        margin-right: 138px;
        margin-bottom: 47px;
    }
    .copyright {
        margin-left: 138px;
        margin-bottom: 15px;
    }
    .logo_bottom {
        margin-top: 0;
        top: 65px;
      left: 138px;
    }
}