body {
    margin: 0;
    height: 100vh;
}
main {
    margin: 0;
}


/* <------------- HEADER -------------> */
    @import '_header.scss';


/* <------------- HERO -------------> */
    @import '_hero.scss';

/* <------------- TEAM -------------> */
    @import '_team.scss';

/*En TEAM van a salir muchos fallos porque había varias secciones con el mismo
nombre que han pasado a llamarse de forma distinta*/ 

/* <------------- PEOPLE -------------> */
    @import '_people.scss';

/* <------------- FOOTER -------------> */
    @import '_footer.scss';


/* < MEDIA QUERIES */

    /*REVISAR LAS MEDIA Y VER SI ESTÁN BIEN DONDE ESTÁN*/


