body {
    margin: 0;
    height: 100vh;
}
main {
    margin: 0;
}


/* <------------- HEADER -------------> */
    @import 'core/header';


/* <------------- HERO -------------> */
    @import 'core/hero';

/* <------------- TEAM -------------> */
    @import 'core/team';

/*En TEAM van a salir muchos fallos porque había varias secciones con el mismo
nombre que han pasado a llamarse de forma distinta*/ 

/* <------------- PEOPLE -------------> */
    @import 'core/people';

/* <------------- FOOTER -------------> */
    @import 'core/footer';


/* < MEDIA QUERIES */

    /*REVISAR LAS MEDIA Y VER SI ESTÁN BIEN DONDE ESTÁN*/


    .comun:nth-child(2n) .info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
     
    footer {
        height: 161px;
    }
    .footer_menu {
        margin-right: 138px;
        margin-bottom: 47px;
    }
    .copyright {
        margin-left: 138px;
        margin-bottom: 15px;
    }
    .logo_bottom {
        margin-top: 0;
        top: 65px;
      left: 138px;
    }

@import "components/form";
