body {
    margin: 0;
    height: 100vh;
}
main {
    margin: 0;
}
.wrapper {
    box-sizing: border-box;
    margin: 0 15px;
    @media all and (min-width: 768px) {
        margin: 0 45px;
    }
    @media all and (min-width: 1200px) {
        margin: 0 auto;
        max-width: 924px;
    }
}

/* <------------- HEADER -------------> */
    @import 'core/header';


/* <------------- HERO -------------> */
    @import 'core/hero';

/* <------------- TEAM -------------> */
    @import 'core/team';

/*En TEAM van a salir muchos fallos porque había varias secciones con el mismo
nombre que han pasado a llamarse de forma distinta*/ 

/* <------------- PEOPLE -------------> */
    @import 'core/people';

/* <------------- FOOTER -------------> */
    @import 'core/footer';


/* < MEDIA QUERIES */

    /*REVISAR LAS MEDIA Y VER SI ESTÁN BIEN DONDE ESTÁN*/


