<header class="header">
        <h1 class="header__title"><strong>Class-coders</strong></h1>
        
        <nav class="header__menu">
            <ul class="header__menu__list">
                <li class="header__menu__item">
                    <h2 tabindex="-1" class="header__menu__item__link"><a href="index.html#eq">Equipo</a></h2>
                </li>

                <li  class="header__menu__item">
                    <h2 class="header__menu__item__link"><a href="index.html#qs">Quiénes somos</a></h2>
                </li>

                <li  class="header__menu__item">
                    <h2 class="header__menu__item__link"><a href="contact.html">Contacto</a></h2>
                </li>
            </ul>
        </nav>
    </div>
</header>
