<section class="team">
   <div class="team__wrapper">
        <h2 class="team__title"><strong>EQUIPO</strong></h2>
        <p class="team__text">Class-coders es un grupo de desarrolladoras front-end que quiere hacerse un hueco en el mundo
        digital.</p>
        <p class="team__text">Nace a partir de la creatividad, motivación y la necesidad de continuo aprendizaje de un grupo
        de mujeres que acaban de empezar.</p>
    </div>
    <aside class="team__characteristics">
        <div class="team__triangle__wrapper">
            <div class="team__triangle"></div>
        </div>
        <div class="team__section__content">
            <div class="team__strengths">
                <h3 class=" team__characteristics-title "><strong>Fortalezas</strong></h3>
                <p class="team__text team__strengths__text">Class-coders se caractiza por estar formado por mujeres
                    resilientes, ganas de superarse a sí mismas y seguir evolucionando como programadoras. Además, el
                    variado perfil de las mujeres que forman este grupo, le dota de una importante diversidad de puntos
                    de vista y formas de solucionar los retos.</p>
                <p class="team__text team__strengths__text">Es un grupo muy creativo y su experiencia en otros campos de
                    la vida les ha dotado de muchas armas que quieren aplicar al mundo front-end.</p>
            </div>
            <div class="team__weaknesses">
                <h3 class="team__characteristics-title "><strong>Debilidades</strong></h3>
                <p class="team__text team__weaknesses__text">A pesar de ser desarrolladoras junior, tienen una gran
                    motivación y curiosidad con todo lo relacionado con la tecnología lo que las hace seguir aprendiendo
                    y desarrollándose. Su principal defecto es la perfección, <span id="qs"></span>aunque algunas veces
                    es una virtud muy deseada.</p>
            </div>
        </div>
    </aside>
   
</section>