<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/main.css">
    
    <title>Document</title>
</head>
<body>
            <section class="hero">
                <div class="contact__hero__image"></div>
            </section>

            <h1 class="contact__title">Contacto</h1>
            <p class="contact__text">Lorem ipsum dolor sit amet, officiis expedita iste tempore, quod excepturi sapiente soluta ex!</p>
            <p class="contact__sub__text">Todos los campos marcados con <span class="star">*</span> son obligatorios</p>

    
</body>
</html>