.team__title {
    font-family: 'Rubik';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
}
.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    /*margin-top: 15px;*/

}
.team__title {
    width: 89px;
    height: 45px;
    color: #14d9c4;
    padding-top: 45px;
    margin-bottom: 15px;
}
.team__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #54585a;
    text-align: center;
    margin-top: 15px;
    padding: 0 15px;
    line-height: 1.5;
}
.team__triangle {
    border: 40px solid transparent;
    width: 0;
    height: 0;
    border-top-color: white;
    border-width: 20px 20px;
  
}
.team__characteristics {
    background-color: rgba(184,184,185, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    @media all and (min-width: 768px){
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
.team__characteristics-title {
    width: 290px;
    height: 45px;
    font-family: 'Rubik';
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.05;
    letter-spacing: normal;
    text-align: center;
    color: #099d8d;
    margin: 0;
}
.team__strengths {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media all and (min-width: 768px) {
        width: 50%;
        padding-top: 5px;
    }   
}

.team__weaknesses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media all and (min-width: 768px) {
        width: 50%;
        padding-top: 5px;
    }
}
.team__characteristics-title {
    margin-top: 20px;
    @media all and (min-width: 768px) {
        margin-top: 0;
    }

}
.team__characteristics .team__text {
    margin-top: 0;
}

@media all and (min-width:768px){
    .team {
        margin-top: 0;
    }
    .team__triangle__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .team__section__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }    
}